/****************************************************************************************
Boston Redevelopment Authority | Authored By: Amanda Postle | Boston Interactive
Date Created: 07/29/13 | Date Modified: 12/02/13 

QUICK SEARCH KEY:
Default Styles - DEF_S | Internet Explorer - IE_S
*****************************************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
.group { display: block; zoom:1; }
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }

/* -------------------------------------------------------------------------------------------------
	DEFAULT STYLES (DEF_S)
---------------------------------------------------------------------------------------------------- */
body {font-family:'Avenir LT W01 65 Medium'; color:#353535; font-size: 16px; line-height: 24px; background-image: url('http://www.bostonredevelopmentauthority.org/images/assets/partial-grey.jpg');background-repeat: repeat-y; }
.siteWrapper { width:1050px; margin:0 auto; }

h1, h2, h3, h4, h5, h6 { font-family:'Avenir LT W01 85 Heavy'; }
h1 { font-size:24px; line-height:26px; padding-bottom:10px; }
h2 { font-size:18px; line-height:20px; padding-bottom:10px;}
h3 { font-size:16px; line-height:18px; padding-bottom:5px; color:#f25520; }
h4 { font-size:16px; line-height:18px; padding-bottom:5px; }
h5 { font-size:12px; line-height:16px; font-family: 'Open Sans', sans-serif; }
h6 { font-size:11px; line-height:13px; font-family: 'Open Sans', sans-serif; }
.logo img{height:57px;}
h2.anchor a{color:#000;}
h2.anchor a:hover { text-decoration: none; } 


a { color:#1e6ba4; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }
p { padding-bottom: 15px; }
ul, ol { margin-left:25px; }
ul li { list-style: none; padding:0 0 10px 10px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -509px -471px no-repeat; }
ol li { padding-bottom: 10px; }
ol ul li { padding-left: 0; background:none; }
ol li ul li { padding: 0 0 10px 10px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -509px -471px no-repeat; }
/*ol li ul { margin-left: 0; }*/
li:last-child { padding-bottom: 20px; }
li li:last-child { padding-bottom:0; }
li li:first-child { margin-top: 15px; }
strong { font-weight: normal; font-family:'Avenir LT W01 85 Heavy'; }
em { font-style: normal; font-family:'AvenirLTW01-65MediumObl' }
blockquote { font-size:14px; line-height:24px; padding:10px 30px 20px 30px; }
sub, sup { position: relative; font-size: 75%; line-height: 0; }
sup { top:-.5em; }
sub { bottom: -.4em; }
table { width:100%; padding:0; margin:15px 0 30px 0; border-collapse: collapse; }
table caption { font-size: 21px; line-height: 25px; text-transform: uppercase; text-align: left; padding:10px; background:#cdcdcd; border-top:3px solid #f25520; }
table th {  text-align: left; padding:6px 10px; border-right:1px solid #fff; border-bottom:1px solid #fff; background:#e9e9e9; }
table td { font-size: 15px; line-height: 21px; padding:6px 10px; border-right:1px solid #fff; border-bottom:1px solid #fff; background:#f4f4f4; }
.scrolltable { display: block; max-width: 755px; overflow-x:scroll; margin-bottom: 30px; }
.scrolltable table { margin-bottom: 0; }

figure { position: relative; margin-bottom: 15px; }
figure img { position: relative; z-index: 5; }
figure figcaption { position: absolute; bottom:20px; left:0; z-index: 10; color:#5f5f5f; font-size: 13px; line-height: 19px; font-family:'AvenirLTW01-65MediumObl'; padding:10px; background:rgba(255,255,255,.9); }
.floatleft { float: left; margin-right: 15px; }
.floatright{ float: right; margin-left: 15px; } 

/* Responsive Video Container */
.videoContainer { position: relative; height: 0; padding:0 0 56.25% 0; margin:0 0 20px 0; overflow: hidden; }
.videoContainer iframe, .videoContainer object, .videoContainer embed { position: absolute; top:0; left:0; width:100%; height: 100%; }


/* Default Form Styles --------------------------------------------------------------------------- */
label { display: block; color:#0b0b0b; }
textarea { width:100%; height: 170px; color:#5d5d5d; font-size: 13px; line-height: 19px; font-family:'AvenirLTW01-35LightObli'; padding:7px 10px; margin-bottom: 10px; background:#f1f1f1; border:1px solid #cecece; border-radius:6px; }
input { width:355px; font-size: 13px; color:#5d5d5d; line-height: 19px; font-family:'AvenirLTW01-35LightObli'; padding: 7px 10px; margin-bottom: 10px; background:#f1f1f1; border:1px solid #cecece; border-radius:6px; }
select { width:236px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 12px; line-height: 18px; color:#5d5d5d; padding:4px 5px 3px 5px; }

/* Custom Select Dropdown (Default) */
.selectWrapper { padding-bottom:20px; }
.sbToggle { position: absolute; display: block; top:-1px; right:0; width: 34px; height: 33px; outline: none; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -710px 2px no-repeat; }
.sbHolder { position: relative; width:236px; height: 31px; font-family: 'Open Sans', sans-serif; background: #f1f1f1; border:1px solid #cecece; border-radius: 6px; }
.sbSelector { position: absolute; display: block; width:100%; height: 21px; left: 0; top: 0; font-size: 16px; line-height: 22px; color: #292929; text-indent: 7px; outline: none; overflow: hidden; padding-top: 5px; }
.sbSelector:hover { text-decoration: none; }
.sbOptions { position: absolute; left: -1px; top:32px !important; width:100%; list-style: none;  overflow-y: auto; padding: 0;  margin:0; background: #f1f1f1; border:1px solid #cecece; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; z-index: 500; }
.sbOptions li { font-size: 12px; line-height: 18px;font-family: 'Open Sans', sans-serif; padding:0; margin:0; background:none; }
.sbOptions li:first-child { /*display: none;*/ }
.sbOptions li a { display: block; color: #444444; text-decoration: none; outline: none; padding:7px; }
.sbOptions li a:hover { color:black; background: #f6f6f6; }

/* Custom Select Dropdown (Black Arrow) */
.blackArrow .sbToggle { z-index: 20; top:0; background-position:-639px -1px; }
.blackArrow .sbHolder { width:155px; height: 25px; border-radius:0; border:none; background:#fff; }
.blackArrow .sbSelector { z-index: 10; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 12px; line-height: 18px; color:#5d5d5d; padding-top: 4px; }
.blackArrow .sbOptions { top:26px !important; width:98.9%; background:#fff; border-radius:0; }
.blackArrow .sbOptions li { font-family: 'Open Sans', sans-serif; font-weight: 600; font-size:  12px; line-height: 18px; }
.blackArrow select { width:155px; }

/* Custom inputs (the following should have each of these wrappers around the default inputs to initiate) */
.checkboxWrapper input { float: left; width:auto; padding:0; margin:4px 6px 0 0; background:none; border:none; border-radius:0; }
.checkboxWrapper label { float: left; color:#353535; }
.submitBtn input { cursor: pointer; width: auto; color:#fff; text-transform: uppercase; font-family:'Avenir LT W01 95 Black'; margin:15px 0; background:#f36636; border:none; border-radius:0; }
.submitBtn input:hover { background:#383838; }
.phoneWrapper input { width:40px; }
.cardNumberWrapper input { width:34px; }
.zipWrapper input { width:215px !important; }
/*.stateWrapper .sbHolder { width:122px; }*/
.stateWrapper .sbSelector { color:#5d5d5d; font-size: 13px; line-height: 19px; font-family:'AvenirLTW01-35LightObli'; padding-top: 6px; /*text-indent: -9999px; */}
.smlInputWrapper input { width:100px; }

/* Extra Form Styles */
.textareaCaption { display: block; color:#5d5d5d; font-size: 13px; line-height: 19px; font-family:'AvenirLTW01-35LightObli'; margin-bottom: 20px; }
/* ---------------------------------------------------------------------- End Default Form Styles */


/* Header --------------------------------------------------------------------------- */
#siteBranding { padding-top: 15px; background:#292929; }
#siteBranding .logo { display: block; width:490px; float: left; padding-top: 10px; }
#siteBranding ul { margin:0; } 
#siteBranding li { padding:0; background:none; } 

.utilityNav { float: right; width:560px; }
.utilityNav ul { float: left; width:365px; padding-top:7px; }
.utilityNav li { display: block; float: left; font-family: 'Open Sans', sans-serif !important; font-weight: 600; }
.utilityNav li a { display: block; float: left; color:#fff; font-size: 11px; line-height: 14px; text-transform: uppercase; }
.utilityNav li:before { display: block; float: left; content:"//"; color:#fff; font-size: 11px; line-height: 14px; padding:0 10px; }
.utilityNav li:first-child:before { display: none; }

.utilityNav li .socialFB { width:20px; height: 20px; text-indent: -9999px; margin:-5px 10px 0 25px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -1px -5px no-repeat; }
.utilityNav li .socialFB:hover { background-position:-1px -36px; }
.utilityNav li .socialTw { width:20px; height: 20px; text-indent: -9999px; margin:-5px 25px 0 0; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -36px -5px no-repeat; }
.utilityNav li .socialTw:hover { background-position: -36px -36px; }

.utilityNav .searchWrapper { float: right; width:184px; margin-left:10px; }
.utilityNav .searchInput { width:134px; color:#fff; font-size: 11px; line-height: 14px; font-family: 'Open Sans', sans-serif; font-style: italic; font-weight: 600; padding:5px 10px; margin:0; border:none; border-radius:0; background:#5c5c5c; }
.utilityNav .searchBtn { cursor: pointer; width:20px; height: 25px; text-indent: -9999px; padding:0; margin:0 0 0 5px; border:none; border-radius:0; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -74px 1px no-repeat; }
.utilityNav .searchBtn:hover { background-position:-74px -30px; }

.mainNav { clear:both; padding-top:10px; margin-left: -8px; width:1100px; }
.mainNav li a { display: block; float: left; color:#f2704c; font-size: 14px; line-height: 20px; text-transform: uppercase; padding:2px 6px 10px 6px; }
.mainNav li a:hover, .mainNav li .HighLighted { color:#fff; text-decoration: none; background:#f25520; }
/* ---------------------------------------------------------------------- End Header */

/* Interior Nav --------------------------------------------------------------------------- */
.interiorNavWrapper { float: left; width:275px; min-height:670px; padding:23px 10px 30px 0; }
.interiorNavWrapper h1 { color:#fff; text-transform: uppercase; font-size: 22px; line-height: 28px;}
.interiorNavWrapper .sectionTitleLink h1:hover { color:#f25520; }
.interiorNavWrapper ul { margin:0; }
.interiorNavWrapper li { display: block; font-size: 16px; line-height: 18px; padding:0; background:none; }
.interiorNavWrapper li a { display: block; color:#fff; }
.interiorNavWrapper li a:hover { text-decoration: none; }

.interiorNavWrapper .interiorNav { margin-right:30px; }
.interiorNav > li { padding:7px 0; border-bottom:1px solid #525252; }
.interiorNav > li > a:hover, .interiorNav > li > a.HighLighted { color:#f25520; }
.interiorNav > li.lastChild { border:none; }

.interiorNav-level2 > li { font-size: 14px; line-height: 20px; padding:0 0 4px 10px; margin-left: 10px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -495px -473px no-repeat; }
.interiorNav-level2 > li:first-child { margin-top:5px; }
.interiorNav-level2 > li.lastChild { padding-bottom: 4px; }
.interiorNav-level2 > li a:hover, .interiorNav-level2 > li > a.HighLighted { color:#f25520; }

.interiorNav-level3 > li { font-size: 12px; line-height: 18px; padding:0 0 4px 10px; margin-left: 10px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -776px -68px no-repeat; }
.interiorNav-level3 > li:first-child { margin-top: 5px; }
.interiorNav-level3 > li.lastChild { padding-bottom: 5px; }
.interiorNav-level3 > li a:hover, .interiorNav-level3 > li > a.HighLighted { color:#9fe6d9; }

a.sectionTitleLink:hover{
text-decoration:none;
}

.locationSearch { padding:15px; margin:50px 0 0 0; background:#292929; }
.locationSearch h2 { display: block; padding-bottom: 3px; }
.locationSearch h2 a { position: relative; display: block; color:#fff; }
.locationSearch h2 a:hover { text-decoration: none; }
.locationSearch h2 a:after { content: ""; position: absolute; top:2px; right:45px; width:22px; height: 25px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -113px 1px no-repeat; }
.locationSearch h2 a:hover:after { background-position: -113px -30px; }
.locationSearch h2 span { display: block; font-family:'AvenirLTW01-35LightObli'; color:#cecece; font-size: 11px; line-height: 14px; padding-top: 2px; }


/* Filter Nav */
.filterNav h3 { cursor: pointer; font-family:'Avenir LT W01 65 Medium'; font-size: 16px; line-height: 22px; color:#fff; padding:4px 15px; border-bottom:1px solid #525252; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -506px -196px no-repeat; }
.filterNav h3:hover { color:#F2704C; }
.filterNav h3.ui-accordion-header-active { color:#F2704C; margin-bottom: 5px; background-position: -2px -478px; }

.filterNav .customCheckbox { position: relative; padding:0 30px 2px 18px; }
.filterNav .customCheckbox label { float: left; font-size: 14px; line-height:18px; color:#fff; padding-left: 15px; }
.filterNav .jquery-checkbox { position: absolute; display:block; float: left; width:100%; height: 15px;  background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -2px -421px no-repeat; }
.filterNav .jquery-checkbox-on { background-position: -235px -421px;width:10px }

.filterNav-level2 { padding-bottom: 0px; }
.filterNav-level2 h3 { font-size: 14px; line-height:18px; padding-left: 33px; margin-bottom: 0; border:none; background-position: -752px -198px; }
.filterNav-level2 h3.ui-accordion-header-active { font-size: 14px; line-height:18px; background-position: -238px -483px; }
.filterNav-level2 .customCheckbox { padding-left: 45px; }
.filterNav-level2 .customCheckbox label { font-size: 12px; line-height: 18px;  }

.filterSearch { padding:0 15px 15px 15px; margin:50px 0 0 0; background:#292929; }
.filterSearch label { display: block; color:#cecece; padding:15px 0 3px 0; }
.filterSearch .searchInput { width:120px; font-family:'AvenirLTW01-35LightObli'; color:#292929; font-size: 11px; line-height: 14px; padding:5px 10px; margin:0; border-radius:0; background:#cecece; border:none; }
.filterSearch .dateWrapper input { float: left; width:40px; margin-right:5px !important; }
.filterSearch .ui-datepicker-trigger { cursor: pointer; float: left; margin-right: 10px; }
.filterSearch .submitBtn input { margin-top:20px; }

.ui-datepicker { z-index: 10000 !important; padding:.2em .2em 0; background:#F4F4F4; border:1px solid #aaaaaa; border-radius:4px; }
.ui-datepicker-calendar { margin:5px 0 0 0; }
.ui-datepicker-header { position: relative; text-align: center; border:1px solid #aaaaaa; border-radius:4px; background:#cccccc; }
.ui-datepicker-prev { cursor: pointer; display: block; position: absolute; left:5px; top:5px; width:16px; height: 16px; text-indent: -9999px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -455px -261px no-repeat; }
.ui-datepicker-next { cursor: pointer; display: block; position: absolute; right:5px; top:5px; width:16px; height: 16px; text-indent: -9999px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -428px -261px no-repeat; }
.ui-datepicker-prev:hover { background-position:-455px -285px; }
.ui-datepicker-next:hover { background-position: -428px -285px; }
.ui-datepicker-title { font-family: 'Avenir LT W01 85 Heavy'; font-size: 12px; line-height: 16px; text-transform: uppercase; padding:5px 0; }
.ui-datepicker th { text-align: center; font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 16px; font-weight: 600; padding:5px; }
.ui-datepicker td { text-align: center; font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 16px; font-weight: 400; padding:0; }
.ui-datepicker td a { display: block; padding:5px; }
.ui-datepicker td a:hover { color:#fff; text-decoration: none; background:#F36636; }

.hidden { display: none; }
/* ---------------------------------------------------------------------- End Interior Nav */

/* Footer --------------------------------------------------------------------------- */
.utilityFooter { padding:20px 0; background:#000; }
.utilityFooter .seal { position: relative; display: block; float: left; color:white; line-height: 19px; font-family:'Avenir LT W01 65 Medium'; padding:15px 0 13px 85px; }
.utilityFooter .seal:before { content: ""; position: absolute; left:0; top:7px; width:66px; height: 66px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) 0 -294px no-repeat; }
.utilityFooter .utilityIcons { float: right; padding-top: 20px; margin:0; }
.utilityFooter .utilityIcons li { display: block; float: left; padding:0; background:none; }
.utilityFooter .utilityIcons li a { position: relative; display: block; font-family:'Avenir LT W01 85 Heavy'; color:#fff; text-transform: uppercase; font-size: 13px; line-height: 15px; padding:17px 45px 0 55px; }
.utilityFooter .utilityIcons li a:hover { color:#f06232; text-decoration: none; }
.utilityFooter .utilityIcons li a.iconPaperClip { width:76px; padding-top: 10px; }
.utilityFooter .utilityIcons li a.iconClipboard { width:90px; padding-top: 17px; }
.utilityFooter .utilityIcons li a.iconCalendar { padding-right: 0; }

.utilityFooter .utilityIcons li a:before { content: ""; position: absolute; left:0; top:0; display: block; width:47px; height: 47px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; }
.utilityFooter .utilityIcons li a.iconHand:before { background-position: 0 -68px; }
.utilityFooter .utilityIcons li a.iconClipboard:before { background-position: -58px -68px; }
.utilityFooter .utilityIcons li a.iconPaperClip:before { background-position: -116px -68px; }
.utilityFooter .utilityIcons li a.iconCalendar:before { background-position: -174px -68px; }
.utilityFooter .utilityIcons li a.iconHand:hover:before { background-position: 0 -123px; }
.utilityFooter .utilityIcons li a.iconClipboard:hover:before { background-position: -58px -123px; }
.utilityFooter .utilityIcons li a.iconPaperClip:hover:before { background-position: -116px -123px; }
.utilityFooter .utilityIcons li a.iconCalendar:hover:before { background-position: -174px -123px; }

.siteInfo { padding:20px 0; background:#7a7a7a; }
.topFooter { text-align: center; }
.topFooter ul { margin:0; }
.topFooter li { position: relative; display: inline-block; font-family:'Avenir LT W01 85 Heavy'; font-size: 14px; line-height: 20px; color:#fff; padding:0; background:none; }
.topFooter h2 { font-size: 22px; line-height: 24px; text-transform: uppercase; color:#fff; font-family:'Avenir LT W01 85 Heavy'; }
.topFooter .copyrightList li:after { content: "|"; position: relative; left:0; top:0; font-family:'Avenir LT W01 85 Heavy'; font-size: 14px; line-height: 20px; color:#fff; padding:0 10px; }
.topFooter .copyrightList li.lastChild { font-size: 18px; line-height: 24px; }
.topFooter .copyrightList li.lastChild:after { display: none; }
.topFooter .copyrightList li a { color:#aee5ff; }

.socialIcons { margin:0; }
.socialIcons li { padding:0; background:none; }
.socialIcons a { display: block; width:47px; height: 46px; text-indent: -9999px; padding-right: 5px; margin-top: 15px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; }
.socialIcons a.socialFB { background-position: 0 -180px; }
.socialIcons a.socialFB:hover { background-position: 0 -236px; }
.socialIcons a.socialTW { background-position: -54px -180px; }
.socialIcons a.socialTW:hover { background-position: -54px -236px; }
.socialIcons a.socialYT { padding-right: 0; background-position: -108px -180px; }
.socialIcons a.socialYT:hover { background-position: -108px -236px; }

.bottomFooter { height: 460px; padding:50px 0; }
.bottomFooter a { color:#fff; }
.bottomFooter a:hover { text-decoration: none; color:#AEE5FF; }
.bottomFooter article { float: left; width:240px; height: 100%; padding-left: 20px; border-left: 1px solid #869097; }
.bottomFooter article:nth-of-type(1) { border:none; }
.bottomFooter .twoColumn { margin:0; }
.bottomFooter .twoColumn li { display: block; float: left; width:120px; font-size: 14px; line-height: 20px; padding:0; background:none; }
.bottomFooter h2 { font-size: 20px; line-height: 22px; text-transform: uppercase; color:#fff; font-family:'Avenir LT W01 65 Medium'; padding-top: 30px; }
.bottomFooter h2:nth-of-type(1) { padding-top: 0; }
.bottomFooter p { font-size: 14px; line-height: 20px; padding:0; }

.bottomFooter .neighborhoodtwoColumn p { display: block; float: left; width:120px; }
/* ---------------------------------------------------------------------- End Footer */

/* Interior Pages --------------------------------------------------------------------------- */
.mainContent { float: left; width:745px; min-height: 1200px; line-height: 24px; padding:30px; background:#fff; }
@media only screen and (min-width:1020px) { .mainContent { width:775px; padding:30px 30px 30px 30px; margin-right: -13000px; } }

.mainContent .columnOne { float: left; width:515px; }
.mainContent .columnTwo { float: right; width:220px; }
.mainContent .columnOne table { table-layout: fixed; width:100% !important; }

.interiorHeader { position: relative; height: 204px; margin:-30px 0 30px -30px; }
.head_plan .interiorHeader { height: 280px; margin:-30px 0 15px -30px; } 
.interiorHeader h1 { position: relative; z-index: 10; display: inline-block; max-width: 461px; color:#f25520; font-family:'Avenir LT W01 85 Heavy'; font-size: 24px; line-height: 24px; text-transform: uppercase; padding:5px 15px 5px 30px; margin-top:20px; background:#fff; }
.interiorHeader .interiorHeaderImg { position: absolute; z-index: 5; left:0; top:0; width:805px; overflow: hidden; }
.interiorHeader .slider { margin-top: -5px; }
.head_plan .interiorHeader .slider { margin-top: 0px; } 
.interiorHeader .interiorHeaderIntro { position: absolute; z-index: 10; right:0; top:20px; width:180px; max-height:280px; overflow: hidden; padding:20px; background:#ebebeb; }
.interiorHeader .interiorHeaderIntro p { font-size: 18px; line-height: 22px; font-family:'Avenir LT W01 35 Light'; }
.interiorHeader span a {color: #f25520;border-bottom:none !important ;} /*Removes the Glossary Styling if the term appears in the Header*/
.interiorHeader span a:hover {color: #f25520;border-bottom:none !important ;} 
.businessInitiatives .interiorHeader { height: 360px; }
.projectDetailHeader { height:593px; margin-bottom: 0; }
.projectDetailViewingHeader { height: 130px; }
.projectDetailInner { height: auto; padding-right: 300px; margin-left:0; }
.smlLandingHeader { height: 120px; }
.smlLandingHeader h1 { float: left; }
.storyWrapper .noHeaderImg { padding-top:25px; }
.sliderHeader { float: left; width:536px; height: 485px; padding-right: 25px; margin-top: -25px; }
.head_plan .sliderHeader { width: 805px; height: 290px; }
.sliderHeader .slider { width:536px; }
.sliderHeader .slides { position: relative; width: 535px; height: 491px; }
.head_plan .sliderHeader .slides { width: 805px; height: 290px; top: -50px; }
.noHeaderImg { float: none; height: auto; }
.noHeaderImg h1 { margin-top: 0; }

.specialInteriorHeader { position: relative; height: 593px; margin:-60px 0 30px -30px; }
.specialInteriorHeader h1 { position: relative; z-index: 10; display: inline-block; max-width: 461px; color:#f25520; font-family:'Avenir LT W01 85 Heavy'; font-size: 24px; line-height: 24px; text-transform: uppercase; padding:5px 15px 5px 30px; margin-top:20px; background:#fff; }
.specialInteriorHeader .interiorHeaderImg { position: absolute; z-index: 5; left:0; top:0; overflow: hidden; }

/* Urban Renewal */

.urbanRenewal .interiorHeader { height: 285px; }
.urbanRenewal .columnTwo .infoListingWrapper { width: 100%; padding-bottom: 15px; height:auto;}
.urbanRenewal .columnTwo .infoListingWrapper a{position:relative !important;}
.urbanRenewal .columnTwo .bucket.bucketEvents .eventListing dd { width: 105px; }
.urbanRenewal .sliderHeader .slider { width: 805px; height:290px; }
.urbanRenewal .bucket.bucketEvents .eventListing a{ text-decoration:none !important; color:#373737;}
.urbanRenewal .bucket.bucketEvents .eventListing:hover a{ color:#fff !important; background:#F25520; }
.urbanRenewal .bucket h1 {
    font-size: 21px;
line-height: 23px;
font-family: 'Avenir LT W01 65 Medium';
text-transform: uppercase;
padding: 0;
}
.urbanRenewal .bucket { background:none; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; 
 }

.urbanRenewal .socialBucket .emailWrapper {
background : #fff;
margin: 0px -15px 0px -15px;
padding: 0px 10px 15px 15px;
}


.urbanRenewal .socialBucket .emailWrapper h4{
    font-family: 'Avenir LT W01 65 Medium';
    font-size:14px;
}

.urbanRenewal .urimage {width:218px;
                 position:relative;
                 top:-10px;
                 left:-15px;
                 width:218px;
}

.bucket.bucketEvents.height1{
    height:265px;
}




/* Interior Map */
.interiorMapIframe { text-align: center; margin:-30px 0 0 -30px; border-top:4px solid #f25520; }
.interiorMapKey { margin:-7px 0 -30px -30px; }
.interiorMapKey ul { margin:0; }
.interiorMapKey li { position: relative; display: inline-block; font-size: 14px; line-height: 16px; text-align: center; text-transform: uppercase; padding:25px 38px 15px 38px; border-left: 1px solid #888888; background:none; }
.interiorMapKey li:first-child { border:none; }
.interiorMapKey li:before { content: ""; display: block; width:15px; height: 15px; margin:-14px auto 5px auto; border-radius:15px; }
.interiorMapKey li:first-child:before { background:#00a7d5; }
.interiorMapKey li:nth-child(2):before { background:#bdac01; }
.interiorMapKey li:nth-child(3):before { background:#3d9451; }
.interiorMapKey li:nth-child(4):before { background:#d91f84; }
.interiorMapKey li.lastChild:before { background:#9367cd; }

/* Interior Slideshow */
.homeSlider .slide { position: absolute; z-index: 5; left:0px; top:0; }
.homeSlider .slide .imgCaption { position: absolute; z-index: 10; right:10px; bottom:17px; color:#5f5f5f; font-size: 13px; line-height: 19px; font-family:'AvenirLTW01-65MediumObl'; padding:10px; background:rgba(255,255,255,.9); }
.sliderNav { position: absolute; z-index: 10; top:20px; right:20px; padding:5px 5px 0 5px; background:rgba(255,255,255,.7); }
.sliderNav a { display: block; width:13px; height: 13px; text-indent: -9999px; margin-bottom: 5px; background:#7a7a7a; }
.sliderNav .activeSlide, .sliderNav a:hover { background:#f25520; }
.head_plan .slide img { width:800px; }
.head_plan .interiorHeaderImg  { width:800px !important; }

/* Tags */
.tag { display:inline-block; color:#686868; font-size: 12px; line-height: 18px; font-family: 'Open Sans', sans-serif; font-weight: 600; padding:3px 10px; margin-bottom:4px; background:#EDEDED; }
.tag:hover { color:#fff; text-decoration: none; background:#f25520; }

.bi { font-size: 14px; line-height: 20px; display: block; padding-top:30px; }

/* Quote Bucket */
.mapBucket header h2 { font-size: 21px; line-height: 23px; font-family:'Avenir LT W01 65 Medium'; text-transform: uppercase; padding:0; }

.bucketQuote { position: relative; color:#333333; padding:30px 35px; margin:15px 0 30px 0; background:#ebebeb; }
.bucketQuote:after { content: ""; position: absolute; z-index: 2; right:0; bottom:0; width:255px; height: 160px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -233px -79px no-repeat; }
.bucketQuote blockquote { position: relative; z-index: 10; font-size: 18px; line-height: 24px; font-family:'Avenir LT W01 85 Heavy'; padding:0; }
.bucketQuote .quoteTitle { display: block; width:210px; font-family:'Avenir LT W01 55 Roman'; text-transform: uppercase; font-size: 18px; line-height: 20px; padding-top:25px; margin-top: 25px; border-top:7px solid #adadad; }

.columnTwo .bucketQuote { padding:15px; overflow: hidden; border-top:4px solid #F25520; }
.columnTwo .bucketQuote:after { right:-30px; bottom:-10px; }
.columnTwo .bucketQuote blockquote { font-size: 14px; line-height: 20px; }
.columnTwo .bucketQuote .quoteTitle { position: relative; z-index: 10; width:auto; padding-top: 15px; margin-top: 15px; }

/* Bucket Styles */
.bucket { font-size: 14px; line-height: 18px; padding:15px; margin-bottom: 25px; background:#ebebeb; border-top:4px solid #f25520; word-wrap:break-word; }
.bucket h1 { font-size: 21px; line-height: 21px; font-family:'Avenir LT W01 65 Medium'; padding-bottom: 15px; }
.bucket .bucketTopImg { text-align: center; margin:-15px -15px 10px -15px; }
.bucket .bucketTopImg img { max-width: 100%; }

.bucket footer { margin:0 -15px -15px -15px; } 
.bucket footer .bucketFooterBtn a { position: relative; display: block; font-family:'Avenir LT W01 85 Heavy'; line-height: 16px; color:#292929; text-transform: uppercase; padding:13px 15px; background:#d9d9d9; }
.bucket footer .bucketFooterBtn a:hover { text-decoration: none; color:#fff; background:#f25520; }
.bucket footer .bucketFooterBtn a:after { content: ""; position: absolute; right:15px; top:15px; width:26px; height: 26px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -185px 0 no-repeat; }
.bucket footer .bucketFooterBtn a:hover:after { background-position: -148px -31px; }

.socialBucket .emailWrapper { padding:15px 25px 15px 15px; margin:0 -15px 10px -15px; background:#d9d9d9; }
.socialBucket .emailWrapper .emailInput { width:130px; color:#5d5d5d; font-family:'AvenirLTW01-65MediumObl'; font-size: 11px; line-height: 14px; padding:4px 7px; margin: 5px 0 0 0; background:#fff; border-radius: 0; border:1px solid #c3c3c3; }
.socialBucket .emailWrapper .submitBtn { cursor: pointer; width:26px; height: 26px; text-indent: -9999px;margin:0; border:none; border-radius: 0; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -185px 0 no-repeat; }
.socialBucket .emailWrapper .submitBtn:hover { background-position: -185px -31px; }

.socialBucket .socialIcons { margin-top: -5px; }
.socialBucket .socialIcons li { display: inline-block; }
.socialBucket .socialIcons a { margin-top: 0; width:29px; height: 30px;  }
.socialBucket .socialIcons a.socialFB { background-position: -276px 0; }
.socialBucket .socialIcons a.socialFB:hover { background-position: -276px -35px; }
.socialBucket .socialIcons a.socialTW { background-position: -310px 0; }
.socialBucket .socialIcons a.socialTW:hover { background-position: -310px -35px; }
.socialBucket .socialIcons a.socialYT { background-position: -488px 0; }
.socialBucket .socialIcons a.socialYT:hover { background-position: -488px -35px; }

.bucket .infoListingWrapper { width: inherit; }
.infoListing { position: relative; width:218px; padding:15px; background:#ededed; }
/*.infoListing:hover { background:#f36636; }
.infoListing:hover a { color:#fff; }
.infoListing:hover h2 a:hover { text-decoration: none; }*/
.infoListing p { line-height: 18px; padding-bottom: 10px; }
.infoListing h5 { color:#5d5d5d; padding-bottom: 5px; }
/*.infoListing .bucketTopImg { width:248px; height: 198px; margin:-15px 0 0 -15px; margin:-69px -15px 15px -15px; }
.infoListing .bucketTopImg img { position: absolute; max-width: 100%; }*/

/*.infoListing .bucketTopImg { position: relative; z-index: 50; margin:-15px -15px 0 -15px; } */
.infoListing .bucketTopImg img { max-width: 100%; height: auto !important; }
/*.infoListing .infoDate { display: block; position: absolute; left:10px; top:10px; z-index: 100; color:#383838; font-size: 14px; line-height: 19px; font-family:'Avenir LT W01 65 Medium'; text-transform: uppercase; padding:10px; margin-bottom: 15px; background:rgba(255,255,255,.9); } */

.infoListing .tag { background:#fff; }
.infoListing .tag:hover  { color:#fff; background:#f25520; }
.infoListing .viewNow { font-size:13px; line-height: 18px; font-family: 'Open Sans', sans-serif; text-decoration: underline; }

.mapsWrapper .infoListing:hover { background:#ededed; }
.mapsWrapper .infoListing:hover a { color:#922500; }


article.infoListing.item {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 349px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.22);
    /* top: 397px; */
    /* margin-bottom: 150px; */
    overflow:hidden;
}

.infoListing .infoDate {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    /* z-index: 100; */
    color: #383838;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Avenir LT W01 65 Medium';
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 15px;
    /* background: green; */
    width: 227px;
}

.infoListing .bucketTopImg {
    /* position: relative; */
    /* z-index: 50; */
    margin: 24px -15px 0 -15px;
}










/* Masonry */
.infoListingWrapper { position: relative; width:775px; }
.masonry .item { /*width:206px;*/ margin-bottom:15px; }

.bucketEvents { margin-bottom: 20px; }
.bucketEvents header { position: relative; padding:15px; margin-bottom: 20px; background:#ebebeb; }
.bucketEvents header:after { content: ""; position: absolute; left:11px; bottom:-9px; width:18px; height:9px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -690px -11px no-repeat; }
.bucketEvents header h2 { font-size: 21px; line-height: 23px; font-family:'Avenir LT W01 65 Medium'; text-transform: uppercase; padding:0; }
.bucketEvents article:first-of-type { margin-right: 25px; }
.bucketEvents .infoListing { float: left; width:215px; }
.bucketHeader {width:320%;}


.eventListing { display: block; float: left; width:246px; padding:10px 0 10px 10px; }
.eventListing dt { float: left; display: block; text-align: center; color:#373737; font-family:'Avenir LT W01 85 Heavy'; font-size: 48px; line-height: 44px; padding-right: 10px; padding:10px 10px 10px 0; margin-right: 15px; border-right: 1px solid #cccccc; }
.eventListing dt .month { display: block; font-size: 18px; line-height: 20px; text-transform: uppercase; }
.eventListing dd { float: left; width:155px; line-height: 20px; padding:15px 0; }
.eventListing:hover { color:#fff; background:#F25520; }
.eventListing:hover dt { color:inherit; }

.bucket.bucketEvents { background:none; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; overflow: auto;}
.bucket.bucketEvents header { margin:-15px -15px 10px -15px; }
.bucket.bucketEvents footer { margin:10px -15px -15px -15px; }
.bucket.bucketEvents footer a { display: block; padding:7px 15px; background:#ebebeb; }
.bucket.bucketEvents footer a:hover { text-decoration: none; color:#fff; background:#f25520; }
.bucket.bucketEvents .eventListing { float: none; width:auto; }
.bucket.bucketEvents .eventListing dt { width:45px; font-size: 34px; line-height: 30px; padding:0 10px 0 0; margin:0; }
.bucket.bucketEvents .eventListing dt .month { font-size: 16px; line-height: 18px; }
.bucket.bucketEvents .eventListing dd { width:115px; line-height: 16px; padding:0 0 0 15px; }

/* Reusable Icons */
.aToZ { width:24px; height:30px; text-indent: -9999px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -375px -326px no-repeat; }
.aToZ:hover { background-position: -375px -381px; }
.zToa { background-position:-420px -326px; }
.zToa:hover { background-position: -420px -381px; }
.getStartedLink { position: relative; display: block; font-size: 18px; line-height: 24px; font-family:'Avenir LT W01 85 Heavy'; padding-left: 50px; margin:15px 0 30px 0; }
.getStartedLink:before { content: ""; position: absolute; left:0; top:-8px; width:40px; height: 40px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -122px -373px no-repeat; }
.getStartedLink:hover:before { background-position: -176px -373px; }
.iconMonthView { float: left; display: block; width:23px; height: 22px; text-indent: -9999px; padding:11px 0 0 11px; border:2px solid #F25520; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -702px -43px no-repeat; border-radius:40px; }
.iconListView { float: left; display: block; width:23px; height: 22px; text-indent: -9999px; padding:11px 0 0 11px; border:2px solid #F25520;  background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -659px -43px no-repeat; border-radius:40px; }
.iconMonthView.active, .iconListView.active, .iconMonthView:hover, .iconListView:hover { border:2px solid #fff; }

/* Clear Bucket */
.clearBucket { padding-top: 30px; }
.clearBucket h2 { font-size: 21px; line-height: 21px; font-family:'Avenir LT W01 65 Medium'; text-transform: uppercase; padding-bottom: 10px; }
.clearBucket a { position: relative; display: block; line-height: 18px; padding:13px 15px 13px 70px; margin-bottom: 2px; background:#f5f4f3; }
.clearBucket a:before { content: ""; position: absolute; left:15px; top:8px; width:45px; height: 45px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -488px 0 no-repeat; }
.clearBucket a.articleLink:before { top:6px; background-position: -593px 0; }
.clearBucket a.mapLink:before { background-position: -536px 0; }
.clearBucket a .info { display: block; }

/* Related Bucket */
.relatedBucket { padding-top: 30px; }
.relatedBucket h2 { font-size: 21px; line-height: 21px; font-family:'Avenir LT W01 65 Medium'; text-transform: uppercase; padding-bottom: 0; }
.relatedBucket h3 { padding-top: 15px; }
.relatedBucket a { display: block; font-size: 12px; line-height: 16px; padding:5px 10px; background:#F5F4F3; }
.relatedBucket a:hover { text-decoration: none; background:#edebe9; }
.relatedBucket p { font-size: 12px; line-height: 16px; }

/* Forms */
.required { color:#F25520; }

.commentForm { clear:both; padding-top: 30px; }
.commentForm h1 { padding:0 0 5px 0; }
.commentForm h2 { padding-top:20px; }
.commentForm h6 { font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 14px; font-style: italic; color:#8b8b8b; padding-bottom: 5px; }
.commentForm p { font-size: 14px; line-height: 20px; }

.formColumns1, .formColumns { margin:10px 0 0 0; }
.formColumns1> li,.formColumns > li { display: block; float:  left; width:387px; height:42px; text-align: right; padding:0; background:none; }
.formColumns> li label > li:nth-child(even) label { padding-left: 20px; }
.formColumns1 > li label,.formColumns > li label { float: left; padding-top: 4px; }
.formColumns1 li .phoneWrapper,.formColumns > li .phoneWrapper { padding-right: 78px; }
.formColumns > li .zipWrapper { /*padding-right: 115px;*/ }
.formColumns > li .smlInputWrapper { padding-right: 115px; }
.formColumns > li .selectWrapper { float: right; text-align: left; padding:0 0 11px 0; }
.formColumns > li .stateWrapper { /*padding-right: 113px;*/ }
.formColumns1 .fullWidthLi,.formColumns .fullWidthLi { clear:both; width:775px; height: auto; text-align: left; }
.formColumns1 .fullWidthLi label,.formColumns .fullWidthLi label { width:149px; padding-left:0 !important; }
.formColumns1 .fullWidthLi textarea,.formColumns .fullWidthLi textarea { width:604px; }
.formColumns1 .fullWidthLi .textareaCaption,.formColumns .fullWidthLi .textareaCaption { position: relative; margin-left: 150px; }
.formColumns1 .fullWidthLi .textareaCaption:before ,.formColumns .fullWidthLi .textareaCaption:before { content: "Characters: "}
.formColumns1 .fullWidthLi .submitBtn ,.formColumns .fullWidthLi .submitBtn { margin-left:150px; }
.formColumns1 .Error input, .formColumns .Error textarea,.formColumns .Error input, .formColumns .Error textarea { border:1px solid #ff0000; }

.ErrorLabel { display: block; color:#ff0000; font-size: 12px; line-height: 18px; }

.pageFormWrapper .commentForm { padding-top: 0;}
.pageFormWrapper .commentForm .zipWrapper { padding-bottom: 30px; }

.largeFormCheckboxWrapper { padding:15px 0; border-top:1px solid #cecece; }
.largeFormCheckboxWrapper p { color:#676767; }
.largeFormCheckboxWrapper .checkAll { float: right; margin-right: 515px; }
.largeFormCheckboxWrapper .checkboxWrapper input { margin-top: 3px; }
.largeFormCheckboxWrapper .checkboxWrapper label { font-size:12px; line-height: 18px; font-family: 'Open Sans', sans-serif; }
.largeFormCheckboxWrapper ul { margin:0; }
.largeFormCheckboxWrapper li { float: left; width:193px; padding:0; background:none; }

/* Paging */
.paging { margin-top: 30px; }
.paging ul { margin:0; }
.paging li { display: inline-block; text-transform: uppercase; font-size:13px; line-height: 19px; color:#383838; padding:0; background:none; }
.paging li a { display: inline-block; color:#b0b0b0; padding:0 5px; }
.paging li a:hover, .paging li .HighLighted { color:#fff; text-decoration: none; background:#f36636; }

/* Default Filter Styles */
.filter { position: relative; padding:15px 20px 20px 0; margin-top: 30px; background:#f25520; }
.filter label { color:#fff; padding:0 0 5px 0; }
.filter .col { float: left; padding:0 0 0 20px; }
.filter .selectWrapper { float: left; padding:0; margin-top: 1px; }
.filter .blackArrow .sbHolder { width:238px; }
.filter .blackArrow select { width:210px; }
.filter .searchBtn { cursor: pointer; width:22px; height: 25px; text-indent: -9999px; padding:0; margin:0 0 0 20px; border:none; border-radius: 0; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -113px -1px no-repeat; }
.filter .searchBtn:hover { background-position: -88px -308px; }
.filter .searchInput { width:150px; font-family:'AvenirLTW01-35LightObli'; color:#292929; font-size: 14px; line-height: 16px; padding:5px 10px 4px 10px; margin:0; border-radius:0; background:#fff; border:none; }

.ownedLandFilter { padding-bottom: 0; }
.ownedLandFilter .col { margin-bottom: 20px; }
.ownedLandFilter .col:nth-of-type(5) { clear:left; }
.ownedLandFilter .blackArrow .sbHolder { width:159px; }
.ownedLandFilter .blackArrow select { width:148px; }
.ownedLandFilter .smlInput { width:137px; }
.ownedLandFilter .searchBtn { float: right; margin-top: 30px; } 
.ownedLandFilter .searchBtnCap { float: none !important;}

.ownedLandFilter .searchBtn { float: left; }
/*.col.capproj {margin-left: 50px;} */
div#sbHolder_20363535 {
    width: 175px; !important
}
.staffFilter .searchBtn { float: left; }

.tableWidget { float: left; margin-right:20px; }
.tableWidget table { max-width: 500px; margin:0; }
/* ---------------------------------------------------------------------- End Interior Pages 

/* Generic Landing Pages --------------------------------------------------------------------------- 
.genericLandingHeader { height: 556px; }
.genericLandingHeader .interiorHeaderImg { width:536px; }
.genericLandingHeader .headerCaption { overflow: hidden; position: absolute; top:0; right:1px; width:208px; height: 466px; padding:60px 30px 30px 30px; background:#d1d1d1; }
.genericLandingHeader .headerCaption h2 { font-family:'Avenir LT W01 55 Roman'; font-size: 24px; line-height: 28px; }
    */
.genericLandingNavLinks { margin:-30px 0 0 -30px; }
.genericLandingNavLinks > a { display: block; float: left; width:188px; height:195px; color:#292929; padding:25px 40px; }
.genericLandingNavLinks > a:hover { text-decoration: none; background:#f36636; color:#fff; }
.genericLandingNavLinks > a:nth-of-type(even) { background:#ebebeb; }
.genericLandingNavLinks > a:hover:nth-of-type(even) { background:#f36636; }

.genericLandingNavLinks .learnMore { color:#1E6BA4; }
.genericLandingNavLinks .learnMore:after { content: "»"; padding-left: 5px; }
.genericLandingNavLinks a:hover .learnMore { color:inherit; }

.genericLandingNavLinks h2 { text-transform: uppercase; font-size: 21px; line-height: 23px; }
.genericLandingNavLinks p { font-size: 15px; line-height: 20px; padding-bottom: 10px; }

/* ---------------------------------------------------------------------- End Generic Landing Pages */


/* LandingPage --------------------------------------------------------------------------- 

.genericLandingHeader.landingPage { height: 290px; }
.genericLandingHeader.landingPage .interiorHeaderImg { width:805px; }
.genericLandingHeader.landingPage .headerCaption { overflow: hidden; position: absolute; top:90px; left:32px; width:470px; height: 130px; padding:20px 15px 15px 15px; background:#fff; z-index:5; border-left:4px solid #f25520; }
.genericLandingHeader.landingPage .headerCaption h2 { font-family:'Avenir LT W01 65 Medium'; font-size: 23px; line-height: 28px; padding-bottom: 3px; }
.genericLandingNavLinks.landingPage p { font-size: 15px; line-height: 20px; padding-bottom: 0px !important; }
.genericLandingHeader.landingPage img{ width: 804px; }

/* ---------------------------------------------------------------------- End LandingPage */

/* LandingPage --------------------------------------------------------------------------- */

.genericLandingHeader { height: 290px; }
.genericLandingHeader .interiorHeaderImg { width:805px; }
.genericLandingHeader .headerCaption { overflow: hidden; position: absolute; top:90px; left:32px; width:470px; height: 130px; padding:20px 15px 15px 15px; background:#fff; z-index:5; border-left:4px solid #f25520; }
.genericLandingHeader .headerCaption h2 { font-family:'Avenir LT W01 65 Medium'; font-size: 23px; line-height: 28px; padding-bottom: 3px; }
.genericLandingNavLinks p { font-size: 15px; line-height: 20px; padding-bottom: 0px !important; }
.genericLandingHeader img{ width: 804px; }

/* ---------------------------------------------------------------------- End LandingPage */


/* Story Pages ------------------------------------------------------------------------------------ */
.storyShareWrapper { float: left; margin-top: 30px; }
.storyShareWrapper ul { margin:0; }
.storyShareWrapper li { padding:0; background:none; }
.storyShareWrapper li a { display: block; float: left; width:30px; height: 30px; text-indent: -9999px; margin-right: 3px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; }
.storyShareWrapper li .storyFB { background-position: -276px 0; }
.storyShareWrapper li .storyTW { background-position: -310px 0; }
.storyShareWrapper li .storyEM { background-position: -344px 0; }
.storyShareWrapper li .storyGP { background-position: -378px 0; }
.storyShareWrapper li .storyFB:hover { background-position: -276px -35px; }
.storyShareWrapper li .storyTW:hover { background-position: -310px -35px; }
.storyShareWrapper li .storyEM:hover { background-position: -344px -35px; }
.storyShareWrapper li .storyGP:hover { background-position: -378px -35px; }

.storyPaging { float: right; margin-top:30px; }
.storyPaging a { position: relative; float: left; display: block; font-size: 14px; line-height: 20px; font-family:'Avenir LT W01 85 Heavy'; color:#292929; text-transform: uppercase; padding:5px 0; }
.storyPaging a:before { content: ""; position: absolute; top:1px; width:27px; height: 26px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; }
.storyPaging .prev { padding-left:42px; padding-right: 10px; margin-right: 2px; }
.storyPaging .next { padding-left:10px; padding-right: 42px; }
.storyPaging .prev:before { left:5px; background-position: -228px 0; }
.storyPaging .next:before { right:5px; background-position: -184px 0; }

.storyPaging a:hover { color:#fff; text-decoration: none; background:#f25520; }
.storyPaging .prev:hover:before { background-position: -147px 0; }
.storyPaging .next:hover:before { background-position: -147px -31px; }

.storyTags { margin-top: 10px; }
/* -------------------------------------------------------------------------------- End Story Pages */

/* Project Pages ---------------------------------------------------------------------------------- */
.projectHeaderExtra { float: left; position: relative; z-index: 10; width:411px; padding:20px 0 0 40px; }
.projectHeaderExtra .selectWrapper { float: left; }
.projectHeaderExtra .sbToggle { width:33px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) 0 -375px no-repeat; }
.projectHeaderExtra .sbHolder { width:155px; height: 33px; }
.projectHeaderExtra select { width:155px; }
.projectHeaderExtra .sbSelector { width:122px; height: 27px; font-size: 18px; line-height: 24px; font-weight: 600; border:1px solid #b8b8b8; }
.projectHeaderExtra .sbOptions { left:0; top:33px !important; border-top:none; }
.projectHeaderExtra .rssLink { float: right; display:inline-block; background:#fff; }
.projectHeaderExtra .rssLink:hover { background:#f25520; }
.projectHeaderExtra .rssLink a { display: block; position: relative; color:#f25520; padding:5px 15px 5px 55px; }
.projectHeaderExtra .rssLink a:hover { color:#fff; text-decoration: none; }
.projectHeaderExtra .rssLink a:before { content: ""; position: absolute; left:24px; top:4px; width:26px; height: 26px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -54px -378px no-repeat; }
.projectHeaderExtra .rssLink a:hover:before { background-position: -88px -378px; }

.projectFilter label { padding-left:20px; }
.projectFilter .blackArrow .sbHolder { width:215px; }
.projectFilter .searchBtn { margin-left:5px; }
.projectFilter select { width:215px; border:none; }

.sortByWrapper { clear:both; padding:10px 20px 10px 482px; background:#f5855e; }
.sortByWrapper label { float: left; color:#fff; padding:3px 10px 0 0; }
.sortByWrapper .selectWrapper { float: left; padding:2px 0 0 0; }
.sortByWrapper .aToZ { float: right; background-position: -375px -326px; margin-left: 10px; }
.sortByWrapper .aToZ:hover { background-position: -375px -381px; }
.sortByWrapper .zToa { background-position:-375px -326px; }
.sortByWrapper .zToa:hover { background-position: -375px -381px; }

.projectTable ul{padding-left:0px}
.projectTable { margin:25px 0; }
.projectTable caption { padding:10px 20px; } 
.projectTable th, .projectTable td { padding:15px 20px; }
.projectTable th:first-child { width:300px; }
.projectTable th:nth-child(2) { width:160px; }
.projectTable td p { padding:0; }
/*.projectTable .viewProjectLink { float: right; text-transform: capitalize; font-size: 15px; line-height: 21px; text-decoration: underline; padding-left: 55px; } */
/*projectTable .viewProjectLink:hover { color:#922500; } */
.projectTable h2 { position: relative; font-family:'Avenir LT W01 65 Medium'; font-size: 18px; line-height: 20px; padding-bottom: 5px; }
.projectTable th:first-child h2 { padding-left: 55px; }
.projectTable th:first-child h2:before { content: ""; position: absolute; left:0; top:0; width:45px; height:45px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; }
.projectTable .tableSubHeader { display: block; font-size: 14px; line-height: 18px; text-transform: uppercase; color:#616161; }
.projectTable ul { margin:0; }
.projectTable li { display: inline; color:#828282; text-transform: uppercase; font-size: 14px; line-height:20px; padding:0 5px 0 0; background:none; }
.projectTable li:before { content: ""; border-left: 1px solid #858484; padding-left: 5px; }
.projectTable li:first-child:before { display: none; }
.projectTable li a { font-size: 18px; line-height: 24px; text-transform: capitalize; }
.projectTable h3 { font-family:'Avenir LT W01 65 Medium'; font-size: 14px; line-height: 18px; text-transform: uppercase; color:#616161; padding:10px 0 0 0; }

.pinkTable caption { border-top:4px solid #e53f99; }
.pinkTable th:first-child h2:before { background-position: -119px -317px; }
.blueTable caption { border-top:4px solid #009fd0; }
.blueTable th:first-child h2:before { background-position: -184px -317px; }
.mustardTable caption { border-top:4px solid #b2ae30; }
.mustardTable th:first-child h2:before { background-position: -247px -317px; }
.greenTable caption { border-top:4px solid #3d9451; }
.greenTable th:first-child h2:before { background-position: -310px -317px; }
.purpleTable caption { border-top:4px solid #9367cd; }
.purpleTable th:first-child h2:before { background-position: -247px -369px; }
.miscTable th:first-child h2 { padding-left: 0; }
.miscTable th:first-child h2:before { display: none; }

.projectMenu { position: absolute; z-index: 10; right:0; top:0; width:244px; height: 593px; padding-left: 25px; }
.projectMenu hgroup { padding:30px 0 20px 0; }
.projectMenu hgroup h2 { font-size: 21px; line-height: 25px; text-transform: uppercase; font-family:'Avenir LT W01 65 Medium'; padding-bottom: 0; }
.projectMenu hgroup h5 { font-size: 15px; line-height:21px;  font-family: 'Open Sans', sans-serif; font-style: italic; color:#8b8b8b; }
.projectMenu hgroup h6 { font-family: 'Open Sans', sans-serif; font-style: italic; color:#8b8b8b; }
.projectMenu .rss { float: right; position: relative; display: block; text-transform: uppercase; color:#292929; margin-top: -36px; }
.projectMenu .rss:after { content: ""; position: absolute; left:-35px; top:-4px; width:32px; height: 32px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -416px 0 no-repeat; }
.projectMenu .rss:hover { color:#F25520; text-decoration: none; }
.projectMenu .rss:hover:after { background-position: -416px -36px; }

.columnTwo .projectMenu { position: static; width: auto; height: auto; padding:0 0 20px 0; }
.columnTwo .projectMenu hgroup { padding-top: 0; padding:0 0 0 20px; } 
.columnTwo .projectMenu .projectInfo { padding-left: 20px; }

.projectLessDetailHeader { height: auto; margin-bottom: 0; }
.projectLessDetailHeader .projectMenu { position: static; width:auto; height: auto; padding:0 0 30px 30px; }
.projectLessDetailHeader .projectInfo li { float: left; width:226px; margin-right: 30px; }

.projectView { width:300px; height: 75px; padding:25px 0 0 25px; margin:0 0 -15px -25px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/projectViewBG.png) no-repeat; }
.projectView label { display: block; float: left; font-size: 20px; line-height: 22px; text-transform: uppercase; font-family:'Avenir LT W01 85 Heavy'; color:#fff; padding:2px 10px 0 0; }
.projectView .selectWrapper { float: left; }
.projectView .sbHolder { width:145px; }
.projectView select { width:145px; }
.projectView .sbSelector { font-size: 13px; line-height: 19px; padding-top: 3px; }
.projectView .sbOptions li { font-size:  13px; line-height: 19px; }

.projectInfo { margin:0; }
.projectInfo li { font-family: 'Open Sans', sans-serif; padding:5px 0; border-bottom:1px solid #bebebe; background:none; }
.projectInfo h3 { font-family: 'Open Sans', sans-serif; color:#000; font-size: 14px; font-weight: 600; padding-bottom:3px; }
.projectInfo p { font-size: 12px; line-height: 18px; padding:0; }

.columnOne .projectInfo { margin-bottom: 30px; }
.columnOne .projectInfo li {float: left; width:222px; margin-right: 30px;}

.projectWrapper .columnOne { width:486px; padding:30px 20px 0 0; }
.projectWrapper .columnTwo { width:269px; }
.projectWrapper .columnOne h1 { font-family:'Avenir LT W01 65 Medium'; }
.projectWrapper .columnOne p { padding-right: 30px; }
.planning_init .columnOne { width: 490px; padding: 10px 10px 0 0; }
.planning_init .columnTwo { padding-right: 6px; }

.projectLinks a { font-size: 14px; line-height: 20px; font-family:'Avenir LT W01 65 Medium'; padding-left: 10px; }
.projectDocument { float: left; margin-top: 10px; width:243px; }
.projectDocument .documentLink { float: left; position: relative; display:block; color:#fff; width:119px; border:1px solid #f25520; font-family:'Avenir LT W01 55 Roman';  text-transform: uppercase; font-size: 13px; line-height: 14px; padding:10px 15px 10px 37px;  background:#f25520; }
.projectDocument .documentLink:hover {  text-decoration: none; background:#fff; border:1px solid #a9a9a9; color:#f25520;}
.projectDocument .documentLink:before { content: ""; position: absolute; left:7px; top:9px; width:25px; height: 19px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -618px -52px no-repeat;  }
.projectDocument .documentLink:hover:before { background-position:-587px -52px;  }
.projectDocument .documentDetails { float: left; display: block; width:51px; color:#707070; text-transform: uppercase; font-size: 12px; line-height: 14px; font-family:'Open Sans', sans-serif; font-weight: 800; margin:0 10px 0 5px; }

.projectPhase { padding:25px; background:#f1f1f1; }
.projectPhase h2 { float: left; font-size: 21px; line-height: 25px; text-transform: uppercase; font-family:'Avenir LT W01 65 Medium'; padding-bottom: 0; }
.projectPhase .helpIcon { float:left; display: block; width:23px; height: 27px; text-indent: -9999px; margin:-3px 0 15px 10px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -457px 0 no-repeat; }
.projectPhase .helpIcon:hover { background-position: -457px -36px; }

.projectPhaseList { clear:both; position: relative; margin: 0; }
.projectPhaseList:before { content: ""; position: absolute; left:-10px; top:3px; width:37px; height: 185px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/projectPhaseGraph.png) no-repeat; }
.projectPhaseList li { position: relative; color:#a0a0a0; padding:0 0 13px 40px; background:none; }
.projectPhaseList li.active { font-family:'Avenir LT W01 85 Heavy'; color:#292929; }
.projectPhaseList li.active:after { content: ""; position: absolute; left:-13px; top:3px; width:17px; height: 17px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; }

.projectPhaseList li.active:first-child:after  { background-position: -172px -184px; }
.projectPhaseList li.active:nth-child(2):after { background-position: -172px -210px; }
.projectPhaseList li.active:nth-child(3):after { background-position: -172px -235px; }
.projectPhaseList li.active:nth-child(4):after { background-position: -172px -260px; }
.projectPhaseList li.active:nth-child(5):after { background-position: -172px -284px; }

.projectPhaseList li.completed { color:#4a4a4a; }
.projectPhaseList li.completed:before { content: ""; position: absolute; left:6px; top:3px; width:17px; height: 17px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; }
.projectPhaseList li.completed:first-child:before  { background-position: -199px -184px; }
.projectPhaseList li.completed:nth-child(2):before { background-position: -199px -210px; }
.projectPhaseList li.completed:nth-child(3):before { background-position: -199px -236px; }
.projectPhaseList li.completed:nth-child(4):before { background-position: -199px -260px; }
.projectPhaseList li.completed:nth-child(5):before { background-position: -199px -284px; }

.planningPhaseList:before { background:url(http://www.bostonredevelopmentauthority.org/images/assets/planningPhaseGraph.png) no-repeat; }
.planningPhaseList li.completed:first-child:before  { background-position: -612px -96px; }
.planningPhaseList li.completed:nth-child(2):before { background-position: -612px -122px; }
.planningPhaseList li.completed:nth-child(3):before { background-position: -612px -148px; }
.planningPhaseList li.active:first-child:after  { background-position: -585px -96px; }
.planningPhaseList li.active:nth-child(2):after { background-position: -585px -122px; }
.planningPhaseList li.active:nth-child(3):after { background-position: -585px -148px; }

.orangeTable caption { border-top: 4px solid #ff7d57; }
.orangeTable th:first-child h2 { padding-left:0; }
.orangeTable th:first-child h2:before { display: none; }
.lightBlueTable caption { border-top: 4px solid #3d85ea; }
.lightBlueTable th:first-child h2 { padding-left:0; }
.lightBlueTable th:first-child h2:before { display: none; }
.lightGreenTable caption { border-top: 4px solid #74e76d; }
.lightGreenTable th:first-child h2 { padding-left:0; }
.lightGreenTable th:first-child h2:before { display: none; }

.projectUpdate { padding: 0px; /*background:#b9b9b9;*/  zoom:1;}
.projectUpdate:before, .projectUpdate:after { content: ""; display: table; }
.projectUpdate:after { clear: both; }

.projectUpdate label { display: block; text-transform: uppercase; font-size: 14px; line-height: 20px; color:#292929; padding-bottom: 3px; }
/*.projectUpdate .emailInput { float: left; width:155px; color: #292929; font-size: 11px; line-height: 14px; font-family: 'AvenirLTW01-35LightObli'; padding:7px 10px; margin:0; border-radius: 0; border:none; background:#fff; }*/
.projectUpdate .emailInput {width: 156px; color: #5d5d5d; font-family: 'AvenirLTW01-65MediumObl'; font-size: 11px; line-height: 14px; padding: 4px 7px; margin: 5px 0 0 0; background: #fff; border-radius: 0; border: 1px solid #c3c3c3;}
.projectUpdate .searchBtn { cursor: pointer; width: 26px; height: 26px; text-indent: -9999px; margin: 0; border: none; border-radius: 0; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -185px 0px no-repeat; }
.projectUpdate .searchBtn:hover { background-position: -185px -31px; }
.email_sub h4 {font-family: 'Avenir LT W01 65 Medium'; font-size: 14px;}

.projectDetailInner h1 { padding-left: 0; }
.projectDetailInner h2 { text-transform: uppercase; font-size: 18px; line-height: 20px; padding:15px 0 5px 0; }
.projectDetailInner h3 { padding:0; }
.projectDetailInner .projectInfo h3 { font-size: 12px; font-weight: 600; }
.projectDetailInner .projectMenu { height: auto; }

.capConsPhaseList:before { background:url(http://www.bostonredevelopmentauthority.org/images/assets/capConsPhaseGraph.png) no-repeat; }
/* ------------------------------------------------------------------------------ End Project Pages */

/* Document Center Pages -------------------------------------------------------------------------- */
.documentHeaderExtra { float: right; position: relative; z-index: 10; width:226px; height: 70px; padding:15px 40px; margin-top: 20px; background:#f25520; }
.documentHeaderExtra label { color:#fff; padding-bottom: 8px; }
.documentHeaderExtra .selectWrapper { float: left; }
.documentHeaderExtra .aToZ { display: block; float: right; margin-right: 10px; }

.documentTableWrapper { position: relative; margin-bottom: 20px; }
.documentTableWrapper h2 { float: left; font-size: 18px; line-height: 24px; text-transform: none; padding:13px 0 0 0; }
.documentTableWrapper h4 { font-family:'Avenir LT W01 65 Medium'; padding:0; }

.documentTableWrapper table { margin-bottom: 0; }
.documentTableWrapper table caption { padding:0 0 0 20px; background:#e9e9e9; border-bottom:1px solid #fff; }
.documentTableWrapper table td { padding:15px 20px; vertical-align: middle; background:#e9e9e9; }
.documentTableWrapper table td p { font-size: 14px; line-height: 18px; padding:0; }
.documentTableWrapper table td h6 { font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 16px; font-style: italic; }
.documentTableWrapper .toggleTD { position: relative; z-index: 10; display: none; background:#e9e9e9; padding:15px 20px; }
.documentTableWrapper .toggleTD p { font-size: 12px; line-height: 18px; color:#515151; }
.documentTableWrapper .toggleTD .descriptionList { margin:0; }
.documentTableWrapper .toggleTD .descriptionList > li { display: block; float: left; padding:0 45px 0 0; background:none; }
.documentTableWrapper .toggleTD .descriptionList > li h4 { float: left; padding-right: 15px; }
.documentTableWrapper .toggleTD .descriptionList > li .linksWrapper { float: left; }
.documentTableWrapper .toggleTD .descriptionList > li span { display: block; font-family:'Avenir LT W01 65 Medium'; font-size: 14px; line-height: 18px; }
.documentTableWrapper .expandBtn { position: relative; z-index: 20; cursor: pointer; display: block; width:17px; height:17px; text-indent: -9999px; margin:-11px 0 0 -5px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -360px -261px no-repeat; }
.documentTableWrapper .open { background-position:-392px -261px; }

.downloadInfo { float: right; padding:10px 10px 10px 20px; background:#cdcdcd; }
.downloadInfo .downloadLink { position: relative; display: block; float: left; font-family:'Avenir LT W01 55 Roman'; font-size: 14px; line-height: 19px; color:#292929; padding:5px 10px 0 30px; }
.downloadInfo .downloadLink:before { content: ""; position: absolute; left:0; top:5px; width:23px; height: 17px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -278px -260px no-repeat; }
.downloadInfo .downloadDetail { display: block; float: left; font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 18px; padding:5px 20px 0 0; }
.downloadInfo .emailLink { display: block; float: right; width:19px; height: 30px; text-indent: -9999px; border-left: 1px solid #fff; padding-left: 15px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -339px 0 no-repeat; }
.downloadInfo .emailLink:hover { background-position: -339px -35px; }
/* ---------------------------------------------------------------------- End Document Center Pages */

/* Research Pages --------------------------------------------------------------------------------- */
.researchPubHeader { height: auto; }
.researchTopicHeader { height: auto; }

.researchHeaderContent { float: left; width:493px; padding:20px 0 0 30px; }
.researchHeaderContent .imgWrapper { float: left; width:185px; padding-right: 30px; }
.researchHeaderContent .contentWrapper { float: left; width:248px; padding-top: 10px; padding:10px 30px 0 0; }
.researchHeaderContent h1 { display: block; font-family:'Avenir LT W01 65 Medium'; color:#292929; text-transform: none; line-height: 26px; padding:0 0 10px 0; margin:0; background: none; }
.researchHeaderContent h2 { font-family:'Avenir LT W01 65 Medium'; text-transform: uppercase; font-size: 18px; line-height: 18px; padding:0 0 5px 0; }
.researchHeaderContent h3 { font-family:'Avenir LT W01 65 Medium'; color:#292929; font-size: 18px; line-height: 24px; padding-bottom: 10px; }
.researchHeaderContent .sliderNav { left:30px; top:auto; bottom:-12px; padding:0; background:none; }
.researchHeaderContent .sliderNav a { float: left; margin-right: 5px; }
.researchHeaderContent .projectDocument { width:auto; margin-right: 15px; }
.researchHeaderContent .projectDocument .documentLink { float: none; width:auto; }
.researchHeaderContent .projectDocument .documentDetails { float: none; width:auto; font-size: 14px; line-height: 16px; padding-top: 5px; }
.researchHeaderContent .emailLink { position: relative; float: left; display: block; font-family:'Open Sans', sans-serif; font-weight: 800; font-size: 12px; line-height: 16px; text-transform: uppercase; color:#383838; padding:11px 10px 5px 39px; margin:11px 0 0 50px; }
.researchHeaderContent .emailLink:hover { text-decoration: none; background:#fff; }
.researchHeaderContent .emailLink:before { content: ""; position: absolute; left:3px; top:1px; width:30px; height: 30px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -318px -418px ;no-repeat; }
.researchHeaderContent .emailLink:hover:before { background-position: -316px -254px; }

.researchHeaderSearch { float: right; width:282px; margin-top: -54px; }
.researchHeaderSearch .searchWrapper { padding:20px 0 20px 30px; background:#ebebeb; }
.researchHeaderSearch .searchWrapper label { display: block; color:#292929; font-size: 14px; line-height: 16px; padding-bottom: 3px; text-transform: uppercase; }
.researchHeaderSearch .searchWrapper input { width:155px; font-family: 'AvenirLTW01-35LightObli'; color:#292929; font-size: 11px; line-height: 14px; margin-bottom: 0; border-radius: 0; border:1px solid #c3c3c3; background:#fff; }
.researchHeaderSearch .searchWrapper .searchBtn { cursor: pointer; width:26px; height: 28px; text-indent: -9999px; padding:0; margin:0; border:none; border-radius: 0; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -186px 2px no-repeat; }
.researchHeaderSearch .searchWrapper .searchBtn:hover { background-position: -186px -29px; }
.researchHeaderSearch .subscribeWrapper { background:#d1d1d1; }
.researchHeaderSearch .subscribeCheckboxes { margin:15px 0; }
.researchHeaderSearch .subscribeCheckboxes li { display: block; float: left; width:120px; padding:0 0 10px 0; background:none; }
.researchHeaderSearch .subscribeCheckboxes input { width:auto; margin-top: 2px; background:none; }
.researchHeaderSearch .subscribeCheckboxes label { width:90px; font-size: 12px; line-height: 18px; font-family: 'AvenirLTW01-35LightObli'; text-transform: none; }

.researchPubLinks h1 { padding:55px 0 20px 30px; }

.researchPublicationFilter { float: right; padding:15px; margin-top: 10px; background:#F25520; }
.researchPublicationFilter label { float: left; font-family:'Avenir LT W01 85 Heavy'; font-size: 20px; text-transform: uppercase; color:#fff; }
.researchPublicationFilter .selectWrapper { float: left; padding:0; margin-left: 10px; }

.researchTopicHeader .researchHeaderContent { clear:right; width:775px; padding-bottom: 20px; background:#ededed; }
.researchTopicHeader .researchHeaderContent .imgWrapper { margin-top: 10px; }
.researchTopicHeader .researchHeaderContent .contentWrapper { width:530px; }

.researchPubTable { position: relative; margin-top: 20px;}
.researchPubTable tbody {height:160px;}
.researchPubTable .researchPubThumb { position: absolute; top:15%; left:0; bottom:0; width:216px; height:100%; text-align: center; overflow: hidden;}
.researchPubTable .researchPubThumb img {-webkit-box-shadow:  5px 5px 5px 0px rgba(0, 0, 0, .3); box-shadow:  0 2px 6px rgba(100, 100, 100, 0.3);height:150px; width:115px }
.researchPubTable table { float: left; width:559px;  margin:0 0 0 216px;min-height:160px }
.researchPubTable table caption { padding:0 0 0 20px; border-top:none; border-bottom:1px solid #fff; background:#E9E9E9; }
.researchPubTable table caption h2 { float: left; width:469px; text-transform: none; font-size: 18px; line-height: 20px; padding:20px 0 15px 0; }
.researchPubTable table td { vertical-align: middle; padding:10px 18px; background: #e9e9e9; border-bottom:none; }
.researchPubTable table td:last-child { width:295px; }
.researchPubTable table td ul { margin:0; }
.researchPubTable table td li { float: left; padding:0; background:none; }
.researchPubTable table td li:first-child { margin-right: 20px; }
.researchPubTable table td p { font-size: 14px; line-height: 16px; padding:0; }
.researchPubTable .downloadInfo { padding:4px 10px; margin-top: 17px; }
.researchPubTable .downloadInfo .emailLink { width:30px; padding:0; border:none; background-position: -318px -418px ; }
.researchPubTable .downloadInfo .emailLink:hover { background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -316px -254px no-repeat; }

.researchPubTable .tableSubHeader { display: block; font-size: 14px; line-height: 18px; text-transform: uppercase; color:#616161; }

.researchPubTable table caption { font-size: 21px; line-height: 25px; text-transform: uppercase; text-align: left; padding:10px; background:#cdcdcd; border-top:3px solid #f5855e; }

.researchPubTable table th{width:50% !important;}

.researchPubTable th, .researchPubTable td{padding: 15px 20px;}

.researchPubTable caption {padding: 10px 20px !important;}
/* ----------------------------------------------------------------------------- End Research Pages */

/* News Pages ------------------------------------------------------------------------------------- */
.newsHeader { height: 485px; }
.newsHeader .interiorHeaderImg { width:536px; }
.newsHeader .headerCaption { overflow: hidden; position: absolute; top:0; right:1px; width:208px; height:435px; padding:20px 30px 30px 30px; background:#ebebeb; }
.newsHeader .headerCaption h2 { font-size: 24px; line-height: 28px; }
.newsHeader .headerCaption p { line-height: 18px; }

.newsFilter { padding:0; margin-bottom: 15px; background:#ebebeb; }
.newsFilter .filterWrapper { float: left; padding:15px 0 20px 0; width:506px; height: 56px; background:#f25520; }
.newsFilter .filterWrapper .col { width:216px; padding-left: 20px; }
.newsFilter .filterWrapper .col .searchInput { float: left; }
.newsFilter .blackArrow .sbHolder { width:215px; }
.newsFilter .blackArrow select { width:215px; }
.newsFilter .blackArrow .sbSelector { font-size: 14px; line-height: 18px; color:#151515; }
.newsFilter .searchBtn { margin-left:10px; }
.newsFilter .twitterWrapper { position: relative; float: left; width:140px; height: 31px; padding:30px 62px; }
.newsFilter .twitterWrapper .hidden { position: absolute; z-index: 1000; width:190px; color:#fff; padding:15px 20px; background:#383838; }
.newsFilter .twitterFeedLink { display: block; position: relative; text-transform: uppercase; color:#f25520; font-size: 14px; line-height: 16px; padding:7px 8px 7px 38px; background:#fff; border:1px solid #8f8f8f; }
.newsFilter .twitterFeedLink:hover { color:#fff; text-decoration: none; background:#383838; }
.newsFilter .twitterFeedLink:before { content: ""; position: absolute; left:8px; top:0; width:30px; height: 30px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -755px 1px no-repeat; }
.newsFilter .twitterFeedLink:hover:before { background-position: -755px -32px; }
/* ------------------------------------------------------------------------------------------------ */

/* Calendar Pages ------------------------------------------------------------------------------------- */
.calendarDateWrapper input { width: 100%; color:#353535; font-size: 24px; line-height: 26px; font-family: 'Avenir LT W01 85 Heavy'; padding:0; margin:0; border:none; border-radius:0; background:none; }
.calendarDateWrapper .ui-datepicker-trigger { float: left; margin-top: 5px; }
.calendarDateWrapper label { float: left; font-size: 12px; line-height: 16px; color:#999999; margin:7px 0 0 10px; }

.calendarFilter { padding-bottom:9px; }
.calendarFilter label { float: left; display: inline-block; padding:2px 10px 0 0; }
.calendarFilter .blackArrow .sbHolder { width:196px; }
.calendarFilter .blackArrow select { width:196px; }
.calendarFilter .searchBtn { margin:0 20px 0 0; }
.calendarFilter .iconMonthView { margin:-3px 10px 0 10px; }
.calendarFilter .iconListView { margin-top: -3px; }

.calendarTable { position: relative; margin:25px 0; border-top:4px solid #F25520; border-bottom:4px solid #F25520; }
.calendarTable caption { /*float: left;*/ display: table-cell; vertical-align: middle; width:73px; color:#383838; text-align: center; padding:5px 20px; border:none; background:#fff; }
.calendarTable caption h1 { font-size: 14px; line-height: 14px; text-transform: uppercase; padding:0; }
.calendarTable caption h2 { font-size: 48px; line-height: 48px; font-family:'Avenir LT W01 85 Heavy'; padding:0; }
.calendarTable caption h3 { font-size: 18px; line-height: 18px; text-transform: uppercase; color:#383838; padding:0; }
.calendarTable tbody { /*float: left;*/ display: table-cell; vertical-align: middle; background:#E9E9E9; width:662px; }
.calendarTable tr { border-top: 2px solid #F5855E; background:#E9E9E9; }

.calendarTable tr:first-child { border:none; } 
.calendarTable td { vertical-align: middle; width:420px; padding:0; border-bottom:none; background:none; }
.calendarTable td:first-child { width:200px;  padding:15px 20px; }
.calendarTable td h2 { font-family: 'Avenir LT W01 65 Medium'; font-size: 18px; line-height: 20px; padding-bottom: 0; }
.calendarTable td .tableSubHeader { display: block; font-family:'Avenir LT W01 35 Light'; color:#292929; font-size: 18px; line-height: 20px; text-transform: uppercase; padding-top: 10px; }
.calendarTable td p { font-size: 14px; line-height: 18px; padding-bottom: 8px; }
.calendarTable td p:last-of-type { padding-bottom: 0; }

.calendarTable .calendarInfoWrapper { padding:15px 20px; }
.calendarTable .calendarInfoAddition { position: relative; z-index: 1000; }
.calendarTable .calendarInfoAddition .socialWrapper a { display: inline-block; height: 30px; width: 29px; text-indent: -9999px; margin-top: 0; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; }
.calendarTable .calendarInfoAddition .socialWrapper .socialFB { background-position: -276px 0; }
.calendarTable .calendarInfoAddition .socialWrapper .socialFB:hover { background-position: -276px -35px; }
.calendarTable .calendarInfoAddition .socialWrapper .socialTW { background-position: -310px -35px; }
.calendarTable .calendarInfoAddition .socialWrapper .socialTW:hover { background-position: -310px 0; }
.calendarTable .calendarInfoAddition h2 { display:inline-block; text-transform: uppercase; padding-bottom: 9px; }
.calendarTable .calendarInfoAddition h2 a { position: relative;}
.calendarTable .calendarInfoAddition h2 a:hover { text-decoration: none; }
.calendarTable .calendarInfoAddition h2 a:after { content: ""; position: absolute; right:-35px; top:0; width:22px; height: 25px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -113px -1px no-repeat; }
.calendarTable .calendarInfoAddition h2 a:hover:after { background-position:-88px -308px; }
.calendarTable .calendarInfoAddition p { float: left; font-family:'AvenirLTW01-65MediumObl'; margin:-23px 0 0 75px; }
.calendarTable .calendarInfoAddition p a { text-decoration: underline; }

/* Hover Display */
.calendarTable tr:hover { color:#fff; background: #f36636; }
.calendarTable .calendarInfoAddition { display: none; }
.calendarTable tr:hover td { border-bottom: 1px solid #e15d30; border-right: 1px solid #e15d30; }
.calendarTable tr:hover td.lastChild { background:#e15d30; }
.calendarTable tr:hover .calendarInfoWrapper .calenderInfoMain { display: none; }
.calendarTable tr:hover .calendarInfoAddition { display: block; }
.calendarTable tr:hover a, .calendarTable tr:hover td .tableSubHeader { color:inherit; }

/* Month View */
.Calendar table { margin:0; border:none !important; }

.Calendar table tr td { height:100px; text-align:left; line-height:15px; font-family: 'Open Sans', sans-serif; color:#999999; font-weight:600; padding:4px; background:#e4e4e4; border-bottom:1px solid #cdcdcd; }
.Calendar table tr td br { display:none; }
.Calendar table tr td .Content { display:none; }
.Calendar table tr td a { position:relative; font-size:10px; line-height:12px; color:#fff; display:block; padding:5px 13px 5px 6px; margin-top:2px; background:#0087b1; border-radius:4px; }
.Calendar table tr td a:after { content:""; position:absolute; right:5px; bottom:2px; width:10px; height:10px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -505px -181px; no-repeat; }
.Calendar table tr td a:first-of-type { margin-top:6px; }
.Calendar table tr td a:nth-of-type(even) { background:#009fd0; }
.Calendar table tr td a:hover { text-decoration:none; background:#007da4; }
.Calendar table tr td a:hover:nth-of-type(even){ background:#0295c3; }

.Calendar table tr:first-child { background:#e4e4e4; }
.Calendar table tr:first-child > td { height:auto; line-height:21px; padding:6px 10px; background: none !important; border:none; }
.Calendar table tr:first-child > td > table td { vertical-align:bottom; text-align:center; font-family:'Avenir LT W01 85 Heavy'; color:#292929; font-size:20px; line-height:22px; font-weight:normal; padding:0; border:none; }
.Calendar table tr:first-child > td > table td a { display:inline-block; width:12px; height:20px; padding:0; margin:0; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; border-radius:0; }
.Calendar table tr:first-child > td > table td a:after { display:none; }
.Calendar table tr:first-child > td > table td:first-child {  }
.Calendar table tr:first-child > td > table td.lastChild {  }
.Calendar table tr:first-child > td > table td:first-child a { float:left; text-indent:-9999px; background-position:-500px -145px; }
.Calendar table tr:first-child > td > table td.lastChild a { float:right; margin-right:5px; text-indent:-9999px; background-position:-516px -145px; }

.Calendar table tr:nth-child(2) { background:#cdcdcd; }
.Calendar table tr:nth-child(2) th { text-align:center; font-size:12px; line-height:18px; color:#000; font-family: 'Open Sans', sans-serif; background:none; border:none; }
/* ------------------------------------------------------------------------------------------------ End Calendar Pages */

/* Homepage --------------------------------------------------------------------------------------- */
.homeContent { position: relative;}
.homeMapIframe { position: relative; margin-left: -76px; margin-bottom: -7px; z-index: 1; }

.homeSlider { position: absolute; margin-left: -56px; }
.homeSlider .slide { position: absolute; left:0; top:0; }
.homeSlider .slideImg { margin-bottom:-7px;display:none }
.homeSlider .slideContent { width:740px; height:116px; padding:20px 50px; margin-left: -9px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/homeSlideBG.png) no-repeat; }
.homeSlider .slideContent h2 { font-size: 22px; line-height: 24px; font-family:'Avenir LT W01 65 Medium'; padding-right: 85px; }
.homeSlider .slideContent a { color:#fff; }
.homeSlider .slideContent .openSlide { position: relative; display:inline-block; font-size: 18px; line-height: 20px; text-transform: uppercase; }
.homeSlider .slideContent .openSlide:hover { text-decoration: none; }
.homeSlider .slideContent .openSlide:after { content: ""; position: absolute; right:-26px; top:1px; width:17px; height: 17px; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -359px -284px no-repeat; }
.homeSlider .slideContent .openSlide:hover:after { background-position: -360px -260px; }
.homeSlider .slideContent .openSlide:before { content: "Expand"; }
.homeSlider .slideContent .closeSlide:before { content: "Hide"; }
.homeSlider .slideContent .closeSlide:after { background-position:-392px -285px; }
.homeSlider .slideContent .closeSlide:hover:after { background-position:-392px -260px; }

.homeSliderNav { position: absolute; right:6px; top:20px; z-index: 1000000; padding:10px 40px 10px 5px; background-color: rgba(240, 98, 50, .65); }
.homeSliderNav a { display: block; float: left; width:10px; height: 10px; text-indent: -9999px; margin-left: 5px; background:#873c22; }
.homeSliderNav .activeSlide { background:#fff; }
/* ----------------------------------------------------------------------------------- End Homepage */

/* Document Center Projects */
.select2-drop { background:#383838 !important; }
.select2-drop-active { border:1px solid #F36636 !important; }
.select2-container-multi .select2-choices { background:none; background:#383838 !important; border:none !important; }
.select2-container-multi.select2-container-active .select2-choices { border:none !important; -webkit-box-shadow:none !important; box-shadow:none !important; }
.select2-results .select2-result-label { color:#fff !important; }
.select2-results li { padding:0; }
.select2-results .select2-highlighted { background:#F36636 !important; }
.select2-results li li:first-child { margin-top:5px; }
.select2-results li.select2-result-with-children > .select2-result-label { font-weight:normal !important; font-size:14px; line-height:18px; }
.select2-results ul.select2-result-sub > li .select2-result-label { font-size:13px; line-height:15px; padding-left:15px !important; padding-bottom:5px; }
.select2-container-multi .select2-choices .select2-search-field input { position:relative; font-size:14px !important; line-height:18px; color:#fff !important; padding:5px 5px 10px 14px !important; background:#383838 !important; }
.select2-container-multi .select2-choices .select2-search-choice { color:#fff !important; font-size:14px !important; line-height:18px !important; padding-bottom:0 !important; background:none !important; border:none !important; -webkit-box-shadow:none !important; box-shadow:none !important; }

/*Affordable Housing Subscribe Widget */
.affhousing h1{padding-bottom:9px !important;}
.affhouse{margin-top:15px;}
.affsubmit input{margin-top:0px;}






.homeMapIframeDevice { display: none; }
@media only screen and (max-width:770px) {
	#siteBranding, .utilityFooter, .siteInfo { width: 1050px; }
	#siteBranding .logo { padding-left: 15px; }
	.utilityFooter .utilityIcons { padding-right: 15px; }
	.utilityNav { width: 513px; }
	.utilityNav ul { width: auto; }
	.utilityNav .searchInput { width: 115px; }
	.mainNav { margin-left: 0; }
	.interiorNavWrapper { width: 230px; padding-left: 15px; }
	.homeMapIframe { display: none; }
	.homeMapIframeDevice { display: block; position: relative; z-index: 1; margin:0 0 -7px -76px; }
	.homeMapIframeDevice img { max-width: 100%; }
}
/*@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	#siteBranding, .utilityFooter, .siteInfo { width: 1050px; }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	#siteBranding, .utilityFooter, .siteInfo { width: 1050px; }
}*/

/* -------------------------------------------------------------------------------------------------
	Internet Explorer (IE_S)
---------------------------------------------------------------------------------------------------- */
.lt-ie9 li.lastChild { padding-bottom: 20px; }
.lt-ie9 select {  width:235px; padding: 7px 10px; background:#f1f1f1; border:1px solid #cecece; }
.lt-ie9 figcaption, .lt-ie9 .slide .imgCaption, .lt-ie9 .sliderNav, .lt-ie9 .infoDate { background:#fff; }
.lt-ie9 .researchHeaderContent .sliderNav { background:none; }

.lt-ie9 .interiorNav-level2 > li { background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -495px -475px no-repeat; }
.lt-ie9 .interiorNav-level3 > li { background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -776px -68px no-repeat; }
.lt-ie9 .interiorNav-level2 > li.lastChild { padding-bottom: 4px; }
.lt-ie9 .interiorNav-level3 > li.lastChild { padding-bottom: 5px; }

.lt-ie9 .filterNav .interiorNav-level2 > li { background-position:-2px -421px; }
.lt-ie9 .filterNav .interiorNav-level2 > li.active { background-position: -235px -486px; }
.lt-ie9 .filterNav .interiorNav-level3 > li { background-position:-2px -421px; }
.lt-ie9 .filterNav .interiorNav-level3 > li.active { padding-left: 40px; margin-left: -15px; margin-right: -28px; margin-bottom: 1px; background:#2a2a2a url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -211px -421px no-repeat; }

.lt-ie9 .sortByWrapper { padding-top: 15px; }

.lt-ie9 .socialBucket .socialIcons a { display: block; width:47px; height: 46px; text-indent: -9999px; padding-right: 5px; margin-top: 0; background:url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) no-repeat; }
.lt-ie9 .socialBucket .socialIcons a.socialFB { background-position: 0 -180px; }
.lt-ie9 .socialBucket .socialIcons a.socialFB:hover { background-position: 0 -236px; }
.lt-ie9 .socialBucket .socialIcons a.socialTW { background-position: -54px -180px; }
.lt-ie9 .socialBucket .socialIcons a.socialTW:hover { background-position: -54px -236px; }
.lt-ie9 .socialBucket .socialIcons a.socialYT { padding-right: 0; background-position: -108px -180px; }
.lt-ie9 .socialBucket .socialIcons a.socialYT:hover { background-position: -108px -236px; }

.lt-ie9 .researchPubTable table td.lastChild { width:295px; }

.lt-ie9 .homeSlider .slideContent { background:url(http://www.bostonredevelopmentauthority.org/images/assets/homeSlideBG_IE.png) no-repeat; }

.lt-ie9 .interiorMapKey li:first-child + li:before { background:#bdac01; }
.lt-ie9 .interiorMapKey li:first-child + li + li:before { background:#3d9451; }
.lt-ie9 .interiorMapKey li:first-child + li + li + li:before { background:#d91f84; }
.lt-ie9 .interiorMapKey li:first-child + li + li + li + li:before { background:#9367CD; }

.lt-ie9 ul.projectPhaseList>li.completed:first-child + li:after { background-position: -172px -210px; } 
.lt-ie9 ul.projectPhaseList>li.completed:first-child + li + li:after { background-position: -172px -235px; } 
.lt-ie9 ul.projectPhaseList>li.completed:first-child + li + li + li:after { background-position: -172px -260px; } 
.lt-ie9 ul.projectPhaseList>li.completed:first-child + li + li + li + li:after { background-position: -172px -284px; } 

.lt-ie9 ul.projectPhaseList>li.completed:first-child + li:before { background-position: -199px -210px; } 
.lt-ie9 ul.projectPhaseList>li.completed:first-child + li + li:before { background-position: -199px -236px;  } 
.lt-ie9 ul.projectPhaseList>li.completed:first-child + li + li + li:before { background-position: -199px -260px; } 
.lt-ie9 ul.projectPhaseList>li.completed:first-child + li + li + li + li:before { background-position: -199px -284px; } 

.lt-ie9 ul.formColumns>li:first-child + li label,
.lt-ie9 ul.formColumns>li:first-child + li + li + li label,
.lt-ie9 ul.formColumns>li:first-child + li + li + li + li + li label,
.lt-ie9 ul.formColumns>li:first-child + li + li + li + li + li + li + li label,
.lt-ie9 ul.formColumns>li:first-child + li + li + li + li + li + li + li + li + li label
{ padding-left: 20px; }

.lt-ie9 .Calendar table tr + tr { background:#cdcdcd; }
.lt-ie9 .Calendar table tr + tr th { text-align:center; font-size:12px; line-height:18px; color:#000; font-family: 'Open Sans', sans-serif; background:none; border:none; }


.lt-ie9 .projectTable th:first-child + th { width:160px; }
div#p_lt_ctl02_wPagePlaceholder_p_lt_ctl02_pageplaceholder_p_lt_ctl01_impComments_viewBiz {
  width: 775px;
}


.toolTipWrapper { position: relative; }
.toolTipWrapper .toolTipContent { position: absolute; z-index: 300; left:-22px; bottom:30px; width:300px; clear:both; display:block; font-weight: 300; font-size: 12px; line-height: 18px; color:#fff; padding:5px 10px; background:#F36636; }
.toolTipWrapper .toolTipContent:after { content: ""; position: absolute; left:25px; bottom:-9px; width:20px; height: 16px; background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -649px -95px no-repeat; }
.toolTipWrapper .toolTipContent h2, .toolTipWrapper .toolTipContent p { padding-bottom: 5px; }
.toolTipWrapper .toolTipContent a { color:#fff; font-weight: bold; text-decoration: underline; }
.toolTip { border-bottom:1px dotted #7e7e7e; }
.toolTip:hover { text-decoration: none; border-bottom:1px solid #1e6ba4; }

.prjct .sbHolder{width:168px !important;} 
.rsearch .top .sbHolder{width:300px !important;}
.top .searchBtn {margin-left: 505px !important; }

.prjct .col{ padding: 0 0 0 17px !important;} 
.prjct label{padding-left:0 !important;font-size:15px !important;} 
.prjct .searchInput{width: 135px !important;font-family: open sans !important;font-size:12px !important; font-weight: 600;} 
.prjct .last-col{width:196px;}

#glossaryContent{text-align:left !important;}

.MapStyle{
    float: right;
    cursor: pointer;
    width: 26px;
    height: 28px;
    text-indent: -9999px;
    padding: 0;
    margin: 0 0 0 5px;
    border: none;
    border-radius: 0;
    background: url(http://www.bostonredevelopmentauthority.org/images/assets/bostonRA_sprite.png) -185px -1px no-repeat;
}

.MapStyle:hover{ background-position: -185px -32px; }

.remodal-close {
    position: absolute;
    top: -34px;
    width: 35px;
    height: 35px;
    color: lightgray;
    right: -125px;
}


.remodal-close:before {
    font-size: 25px;
    line-height: 35px;
    top: 5px;
    width: 35px;
    content: "X";
    text-align: center;
    font-weight: 500;
}

.remodal {
    margin: 0px;
    padding: 0px;
}

.remodal-close:hover {
    color: white;
}

/* Minification failed (line 1056, error number 1035): Expected colon, found ';' */



.ui-widget-content {
    border: 1px solid #dddddd;
    background: #BDBDBD !important;
    color: #212121 !important;
}